version: ${PROJECT_VERSION:0.0.0}
environment: ${PROJECT_ENVIRONMENT:unknown}

server:
  port: ${SERVER_PORT:8080}
  forward-headers-strategy: ${FORWARD_HEADERS_STRATEGY:none}

security:
  cors:
    pattern: ${CORS_PATTERN}
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
    allowed-methods: ${CORS_ALLOWED_METHODS}
    allowed-headers: ${CORS_ALLOWED_HEADERS}
    allow-credentials: ${CORS_ALLOW_CREDENTIALS}

keycloak:
  realm: ${KEYCLOAK_REALM}
  host: ${KEYCLOAK_HOST}
  client:
    member-api:
      client-id: ${KEYCLOAK_CLIENT_ID}
      client-secret: ${KEYCLOAK_CLIENT_SECRET}

postgres:
  host: ${POSTGRES_HOST}
  port: ${POSTGRES_PORT}
  database: ${POSTGRES_DATABASE}
  username: ${POSTGRES_USER}
  password: ${POSTGRES_PASSWORD}

db:
  ddl-auto: ${DB_DDL_AUTO}
  show-sql: ${DB_SHOW_SQL}

rabbitmq:
  host: ${RABBITMQ_HOST}
  port: ${RABBITMQ_PORT}
  username: ${RABBITMQ_USERNAME}
  password: ${RABBITMQ_PASSWORD}